<div #main class="header-container">
    <a href="#" class="logo">Diego Burgos</a>
    <span>
        <svg (click)="openMenu()" _ngcontent-serverApp-c14="" viewBox="0 0 100 80" class="two ng-tns-c14-0" style="margin: 0.5rem; cursor: pointer;">
            <rect _ngcontent-serverApp-c14="" id="rect1" width="100" height="20" rx="10"
                [ngClass]="!toggleActive? 'two ng-tns-c14-0' : 'two ng-tns-c14-2'" style="fill: #9ae5f3;"></rect>
            <rect _ngcontent-serverApp-c14="" id="rect2" y="30" width="100" height="20" rx="10"
                [ngClass]="!toggleActive? 'two ng-tns-c14-0' : 'two ng-tns-c14-1'" style="fill: #9ae5f3;"></rect>
            <rect _ngcontent-serverApp-c14="" id="rect3" y="60" width="100" height="20" rx="10"
                [ngClass]="!toggleActive? 'two ng-tns-c14-0' : 'two ng-tns-c14-3'" style="fill: #9ae5f3;"></rect>
        </svg>
        <div #menuContainer class="menu-container">
          <div class="options">
            <p>Home</p>
            <p>Cosa 1</p>
            <p>Cosa 2</p>
          </div>
        </div>
    </span>
</div>
